.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  backdrop-filter: blur(15px);
  z-index: 1000;
}

.head_logo {
  display: flex;
  align-items: center;
  gap: 20px;
}

.title_logo {
  font-weight: 900;
  font-size: 1.2rem;
  color: var(--text);
}

.desc_logo {
  font-size: 0.9rem;
}

.links_cont {
  padding: 13px 20px;
}

.button_header {
  width: 40px;
  height: 40px;
  border: none;
  padding: 10px;
  background-color: var(--semitone);
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text);
  cursor: pointer;
  font-size: 1.5rem;
  transition: all ease 300ms;
}

.button_header:hover {
  color: var(--ornaments-light);
}

.user_header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.myAccWrapper {
  margin-left: 10px;
}

.my_acount {
  cursor: pointer;
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  transition: all ease 300ms;
}

.my_acount:hover {
  background-color: var(--semitone);
}

.user_img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: 1px solid var(--ornaments-light);
  padding: 3px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.rounded_circle {
  width: 100%;
  height: 100%;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.rounded_circle img {
  display: inline-block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.acountName {
  color: var(--text);
}

.rol {
  color: var(--secondary);
}

/* CODIGO DE LAS NOTIFICACIONES */

.notifications {
  right: 240px !important;
  width: 350px !important;
}

.noti_cont {
  width: 400px !important;
}

.footer_notificaciones,
.head_notificaciones {
  padding: 10px 15px;
  width: 100%;
}

.title_notificaciones {
  font-size: 1.3rem;
  color: var(--ornaments-light);
}

.scroll {
  max-height: 300px;
  overflow-y: scroll !important;
}

.scroll::-webkit-scrollbar {
  width: 5px !important;
  height: 5px !important;
}

.scroll::-webkit-scrollbar-thumb {
  background: #ccc !important;
}

.menu_item {
  background-color: var(--semitone) !important;
}

.noti_title,
.noti_desc,
.noti_time {
  white-space: break-spaces !important;
}

.noti_title {
  font-size: 1rem;
  color: var(--ornaments-light);
  line-height: 1rem;
  margin-bottom: 5px;
}

.noti_desc {
  font-size: 0.9rem;
  line-height: 0.9rem;
  margin-bottom: 5px;
}

.noti_time {
  font-size: 0.8rem;
  color: var(--ornaments-light);
  line-height: 0.8rem;
}

.button_noti {
  width: 100%;
  background-color: var(--ornaments-light);
  padding: 15px;
  text-align: center;
  color: var(--primary);
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font-weight: 600 !important;
}
