/* CODIGO DEL FORMULARIO */
.cont_form {
  background-color: var(--primary);
  color: var(--text);
  min-width: 375px;
  width: 375px;
  padding: 20px;
  border-radius: 10px;
}

.formulario {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.campo {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--hover);
  color: var(--text);
  font-size: 1rem;
}

.campo:focus {
  outline: 2px solid var(--background-color);
}

.textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 150px;
  max-height: 150px;
}

.boton {
  border: 2px solid transparent;
  background-color: var(--acent-color);
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: all ease 300ms;
  text-transform: uppercase;
}

.boton:hover {
  background-color: transparent;
  border: 2px solid var(--acent-color);
  color: var(--text);
}

@media screen and (max-width: 760px) {
  .cont_form {
    width: 100%;
    min-width: 100%;
  }
}
