.cont_form_info {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.box_form {
  display: flex;
  flex-direction: column;
  width: 47%;
}

.box_form label {
  font-size: 1rem;
  color: var(--text-secondary);
  margin-bottom: 10px;
  cursor: pointer;
}

.box_form input {
  width: 100%;
  background-color: transparent;
  color: var(--text);
  font-size: 1rem;
  padding-bottom: 5px;
  border: none;
  border-bottom: 2px solid var(--text-secondary);
  transition: all ease 200ms;
}

.box_form input:focus {
  outline: none;
  border-bottom: 2px solid var(--acent-color);
}

.input_exclude {
  display: flex;
  flex-direction: column;
  width: 47%;
}

.input_exclude label {
  display: block;
  font-size: 1rem;
  color: var(--text-secondary);
  margin-bottom: 5px;
}

.input_exclude input {
  width: 100%;
}

.cont_boton button {
  padding: 15px 20px;
  border: 2px solid transparent;
  cursor: pointer;
  background-color: var(--acent-color);
  border-radius: 5px;
  color: #fff;
  font-size: 1rem;
  transition: all ease 200ms;
}

.cont_boton button:hover {
  border: 2px solid var(--acent-color);
  background-color: transparent;
}

/* Cambio de contraseña==================== */
.cont_change {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.input_box {
  width: 47%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input_box input {
  width: 100%;
  padding: 10px;
  background-color: var(--foreground);
  border: 2px solid var(--background-color);
  border-radius: 5px;
  color: var(--text);
  font-size: 1rem;
  transition: all ease 200ms;
}

.input_box input:focus {
  outline: none;
  border: 2px solid var(--hover);
}

.boton_change {
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: var(--acent-color);
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
}

@media screen and (max-width: 1272px) {
  .input_exclude {
    width: 100%;
  }
  .input_box {
    width: 100%;
  }
}

@media screen and (max-width: 1086px) {
  .box_form {
    width: 100%;
  }
}
