.contenedor {
  width: 100%;
  display: flex;
  gap: 20px;
}

.foto {
  width: 20%;
  min-width: 280px;
  background-color: var(--primary);
  border-radius: 5px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  padding: 30px;
  align-self: flex-start;
}

.boxes {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.box {
  background-color: var(--primary);
  border-radius: 5px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

@media screen and (max-width: 767px) {
  .contenedor {
    flex-direction: column;
  }
  .foto {
    width: 100%;
  }
}
