:root {
  --primary: #ffffff;
  --foreground: #ffffff;
  --bg-header: rgba(255, 255, 255, 0.9);
  --background-color: #eae8e8;
  --text: #191a1b;
  --text-secondary: #959595;
  --hover: #f0f0f0;
  --acent-color: #4058f2;

  --ver: #28a745;
  --editar: #007bff;
  --eliminar: #dc3545;

  --ver-hover: #1e7e34;
  --editar-hover: #0056b3;
  --eliminar-hover: #c82333;
}

[data-theme="dark"] {
  --primary: #404040;
  --foreground: #242424;
  --bg-header: rgba(36, 36, 36, 0.9);
  --background-color: #1d1d1d;
  --text: #ffffff;
  --text-secondary: #959595;
  --hover: #343434;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--text);
  background: var(--background-color);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Estilos generales en el dashboard==================================== */

.header_children {
  background-color: var(--primary);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.title_children {
  font-size: 1.2rem;
  font-weight: 600;
}

.subtitulos-dashboard {
  font-size: 1.1rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

/* ========= ESTILOS DEL INPUT DE BUSQUEDA ===================== */
.caja_busqueda {
  width: 60%;
  background-color: var(--background-color);
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  color: var(--text);
  padding: 10px;
  font-size: 1.5rem;
  border-radius: 5px;
  border: 2px solid transparent;
  cursor: pointer;
}

.input_busqueda {
  flex: 1;
  background-color: transparent;
  font-size: 1rem;
  color: var(--text);
  border: none;
}

.caja_busqueda.focused {
  border-color: var(
    --acent-color
  ); /* Cambia el color del borde cuando está enfocado */
}

.input_busqueda:focus {
  outline: none;
}

.input_busqueda:focus + .MdOutlineSearch {
  display: none;
}

/* ========ESTILOS DE TODAS LAS TABLAS======================== */
.cont_tabla {
  background-color: var(--primary);
  color: var(--text);
  flex: 1;
  border-radius: 10px;
  padding: 20px;
  overflow: auto;
}

.cont_table {
  width: 100%;
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 10px;
  /* table-layout: fixed; */
}

.thead {
  background-color: var(--hover);
  text-align: left;
}

.thead th {
  padding: 12px 15px;
  font-weight: bold;
  color: var(--text);
  border-bottom: 2px solid var(--background-color);
}

.tbody tr {
  border-bottom: 1px solid var(--background-color);
}

/* .tbody tr:nth-child(even) {
  background-color: var(--acent-color);
} */

.tbody td {
  padding: 12px 15px;
  color: var(--text);
}

.tbody tr:hover {
  background-color: var(--hover);
}

.desc {
  min-width: 300px;
}

.estado {
  font-size: 0.7rem;
  color: #fff;
  padding: 5px;
  border-radius: 50px;
}

.activo {
  background-color: var(--editar);
  color: #fff;
}

.inactivo {
  background-color: var(--eliminar);
}

.mantenimiento {
  background-color: var(--ver);
}

.cont_actions {
  display: flex;
  gap: 8px;
}

.cont_actions button {
  border: none;
  color: white;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cont_actions button:nth-child(1) {
  background-color: var(--editar);
}

.cont_actions button:nth-child(1):hover {
  background-color: var(--editar-hover);
}

.cont_actions button:nth-child(2) {
  background-color: var(--eliminar);
}

.cont_actions button:nth-child(2):hover {
  background-color: var(--eliminar-hover);
}

.paginacion {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.numeros li button {
  color: var(--text) !important;
}

@media screen and (max-width: 1140px) {
  .caja_busqueda {
    width: 100%;
  }
  .paginacion {
    flex-direction: column;
    align-content: center;
  }
}

@media screen and (max-width: 450px) {
  .header_children {
    flex-direction: column;
  }
}

/* COLORES MODIFICADOS DE COMPONENTES DE MATERIAL UI */
.css-x6cj71-MuiPaper-root-MuiPopover-paper-MuiMenu-paper,
.css-1toxriw-MuiList-root-MuiMenu-list,
.css-ar64vm-MuiModal-root-MuiDrawer-root .MuiDrawer-paper {
  background-color: var(--primary) !important;
  color: var(--text) !important;
}
.css-x6cj71-MuiPaper-root-MuiPopover-paper-MuiMenu-paper::before,
.css-x6cj71-MuiPaper-root-MuiPopover-paper-MuiMenu-paper::before {
  background-color: var(--primary) !important;
}
.css-1rju2q6-MuiButtonBase-root-MuiMenuItem-root .MuiListItemIcon-root {
  color: var(--text) !important;
}
.css-1bug3cd-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
  color: #fff !important;
}
.css-1rju2q6-MuiButtonBase-root-MuiMenuItem-root {
  transition: all ease-in 100ms;
}
.css-1rju2q6-MuiButtonBase-root-MuiMenuItem-root:hover {
  background-color: var(--hover);
}

/* Estilos de las ventanas de sweetalert */
div:where(.swal2-container) div:where(.swal2-popup) {
  background-color: var(--primary) !important;
}

div:where(.swal2-container) h2:where(.swal2-title) {
  color: var(--text) !important;
  font-family: Arial, Helvetica, sans-serif !important;
}
