:root {
  --primary: #ffffff;
  --secondary: #959595;
  --background-dark: #10191e;
  --background-light: #eae8e8;
  --text: #191a1b;
  --ornaments: #ec2633;
  --ornaments-light: #0858f7;
  --semitone: #cce6ff;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--text);
  background: var(--background-light);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
