.layoutflex {
  width: 100vw;
  display: flex;
  position: relative;
}

.right_content {
  width: 100%;
  padding: 100px 30px 30px 330px;
  transition: all ease-in-out 250ms;
}

.right_content_collapsed {
  padding: 100px 30px 30px 30px;
  transition: all ease-in-out 300ms;
}

@media screen and (max-width: 992px) {
  .right_content {
    width: 100%;
    padding: 100px 30px 30px 30px;
  }
}
