.contenedor {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  min-width: 370px;
  width: 30%;
}

.icono {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: rgba(35, 171, 255, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.icono::before {
  position: absolute;
  content: "";
  width: 65px;
  height: 65px;
  border-radius: 65px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(35, 171, 255, 0.1);
}

.titulo {
  color: var(--text);
}

.parrafo {
  text-align: center;
  color: var(--text);
  line-height: 1rem;
}

.formulario {
  width: 100%;
}

.label {
  width: 100%;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

.input {
  width: 100%;
  border: 2px solid var(--text-secondary);
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  margin-bottom: 10px;
}

.input:focus {
  outline: none;
}

.boton {
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  font-weight: 600;
  color: #fff;
  background-color: #4058f2;
  border: none;
  cursor: pointer;
  text-align: center;
}

.aviso {
  font-size: 0.9rem;
}

.aviso a {
  color: #4058f2;
  font-weight: 600;
}

.vinculo {
  display: flex;
  align-items: center;
  gap: 5px;
}
